localComps.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://localdomain.site"
xmlns="https://localdomain.site"
elementFormDefault="qualified">

<xs:element name="localComps">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="comp" type="xs:string"/>	
      <xs:element name="hostname" type="xs:string"/>
      <xs:element name="UserName" type="xs:string"/>
      <xs:element name="Password" type="xs:string"/>
      <xs:element name="Note" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>